html,body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none !important;
    
}
.spacing{
    margin-top: 50px;
    margin-bottom: 50px;
}
.spacing-padd{
    padding-top: 50px;
    padding-bottom: 50px;
}

.button_one{
    padding: 12px 24px;
    background-color: #1cae1c;
    color: #fff;
}
header{
    z-index: 99999;
    position: relative;
}
marquee{
    font-size: 21px;
}
.fa{
    font-size: 24px !important;
}
.announement-header{
background-color: #ffc107;
}
.km_logo{
        font-size: 18px;
    font-weight: 600;
}
.km_logo p{
    font-size: 24px;
}
.km_logo a{
margin-bottom: 12px;
}
.km_logo a img{
    max-width: 18% !important;
    height: auto;
}
.km_addr ul li{
    font-size: 19px;
}
.manu-header ul{
background-image: linear-gradient(to left, #ec5db2, #1cae1c);
position: relative;
padding:12px 24px;
}
.manu-header ul li{
padding: 0px 24px;
}

.manu-header ul li a{
    color: #ffffff;
    text-transform: uppercase;
        font-size: 19px;
}
.manu-header ul li a:hover{
    color: #ffc107;
}

.manu-header ul li a.active{
    background: #ffffff !important;
    color: #000000;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.km_slider{
    margin-top: -50px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}
.km_about img,.km_founder img{
    max-width: 72%;
}
.carousel-item{
    height: 680px;
  }
.text{
    text-align: center;
}
.text h2{
    font-size: 28px;
    font-weight: 600;   
}
.text h5{
    font-weight: 600;
}
.text .read-more {
font-size: 13px !important;
}
.text .fa{
font-size: 13px !important;
}
.km_about .row,.km_founder .row{
    align-items: center;
}
.km_service{
background-color: #dcdcdc33;
}
.single-service{
        position: relative;
        padding-left: 118px;
        overflow: hidden;
        margin-bottom: 24px;
        height: 123px;
}
.single-service .img-box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 120px;
    border-radius: 5px;
    background: #001a57;
}
.single-service .img-box img {
        width: 100%;
        border-radius: 4px;
        opacity: 0.9;
}
.single-service .text {
    border: 1px solid #eaeaea;
    border-radius: 0 4px 4px 0;
    border-left: none;
    padding: 32px 12px;
    text-align: left;
}
.title_text{
    margin-bottom: 32px;
}
.title_text h2{
    text-align: center;
    font-weight: 700;
}
.km_contact{
    text-align: center;
}
footer{
    background-color: #dcdcdc33;
}
footer ul{
    margin-bottom: 12px !important;
}
footer.py-3{padding-bottom: 0px !important;}
footer.my-4{
    margin-bottom: 0px !important;    
}
footer .copyrights{
    font-size: 12px;
}

  @media screen and (max-width:769px) {
    .km_logo p{margin-bottom: 0px;}
   .main-header .mt-3{margin-top: 0px !important;}
            .km_logo {
            text-align: center;
        }
        .km_addr {
            text-align: center;
            margin-top: 15px;
        }
    .spacing{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    a.km_logo{
        font-size: 32px;
        margin-bottom: 12px;
    }
    a.km_logo img{
            max-width: 42% !important;
        }
.manu-header ul li{
            padding: 0px 3px;
            }
    .carousel-item{
                height: 343px;
              }   
    .km_about img{
                max-width: 100%;
            }
    .text{
    margin-top: 12px;
    margin-bottom: 12px;
    }
            
    }